{% extends "base.html" %}
{% load urlify %}
{% load crispy_forms_tags %}
{% block head_title %}
{{ object.title }} | {{ block.super }}
{% endblock head_title %}



{% block content %}
<div class='col-sm-6 col-sm-offset-3'>
    {% if object.image %}
    <img src='{{ object.image.url }}' class='img-responsive' />
    {% endif %}
<h1>{{ object.title }} <small>{% if object.draft %}<span style='color:red;'>Borrador</span> {% endif %}{{ object.publish }}</small></h1>

<p> Tiempo de lectura:
    {% if object.read_time <= 1 %} menos de 1 minuto.
    {% else %}
    {{ object.read_time }} minutos.
    {% endif %}
</p>

{% if object.user.get_full_name %}
    <p>Autor: {{ object.user.get_full_name }}</p>
{% endif %}

<p><div class="fb-like" data-href="{{ request.build_absolute_uri }}" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
<hr/>
</p>

<!-- <p>
<a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">
Facebook
</a>

<a href="https://twitter.com/home?status={{ object.content|truncatechars:80|urlify }}%20{{ request.build_absolute_uri }}">
Twitter
</a>

<a href='https://plus.google.com/share?url={{ request.build_absolute_uri }}'>


<a href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri }}&title={{ object.title }}&summary={{ share_string }}&source={{ request.build_absolute_uri }}">
Linkedin
</a>

<a href="http://www.reddit.com/submit?url={{ request.build_absolute_uri }}&title={{ share_string }}.">Reddit</a>

</p> -->
<div class='row'>
<div class='col-sm-12'>

<div class='post-detail-item'>{{ object.get_markdown }}</div>

<hr/>
<br/>
<div>
    <p class="lead">Commentarios</p>

    <form method="POST" action="."> {% csrf_token %}
        {{ comment_form|crispy }}
        <input type="submit" value="Comentar" name="" class="btn btn-default" />
    </form>

    {% for comment in comments %}
        <hr/>
        <blockquote>
            <p>{{ comment.content }}</p>
            <footer>Por {{ comment.user }} hace {{ comment.timestamp|timesince }} 
                {% if comment.children.count > 0 %}
                    | {{ comment.children.count }} comentario{% if comment.children.count > 1 %}s{% endif %}
                {% endif %}
                | <a class="comment-reply-btn" href="#">Responder</a> |
                <a href="{{ comment.get_absolute_url }}">Historia</a>
                {% if request.user == comment.user %}| <a href="{{ comment.get_delete_url }}">Eliminar</a> {% endif %}
            </footer>
            <div class="comment-reply">
                {% for child_comment in comment.children %}
                    <blockquote>
                        <p>{{ child_comment.content }}</p>
                        <footer>
                            Por {{ child_comment.user }} hace {{ child_comment.timestamp|timesince }}
                            {% if request.user == comment.user %}| <a href="{{ child_comment.get_delete_url }}">Eliminar</a> {% endif %}
                        </footer>
                    </blockquote>
                {% endfor %}

                <form method="POST" action="."> {% csrf_token %}
                    {{ comment_form|crispy }}
                    <input type="hidden" name="parent_id" value="{{ comment.id }}">
                    <input type="submit" value="Responder" name="" class="btn btn-default" />

                </form>
            </div>

        </blockquote>
        <hr/>
    {% endfor %}
</div>

</div>
</div>
</div>


{% endblock content %}
